html {
  scroll-behavior: smooth; }

body {
      margin: 0;
      font-family: Roboto, sans-serif;
}

.markdown {
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 10px;
    overflow-y: auto;
    height:90vh;
    width:90vw;
}


#canvas {
  height:100vh;
  width:100vw;
  background: url("../images/background.jpg") no-repeat center center;
  background-size: cover;
}

#intro .h6 {
  font-weight: 300;
  line-height: 1.7;
}

.container {
      width: 90%;
      height: 90%;
      background-color: white;
      display: none;
      justify-content: center;
      align-items: center;
      z-index: 9999;
}

/* Score table container styles */
        table {
            width: 70%;
            border-collapse: collapse;
            margin: 20px auto;
        }
        th, td {
            border: 1px solid white;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #4EA72E;
            color: white;
            cursor: pointer;
            position: relative;
        }
        th .sort-icon {
            margin-left: 10px;
            font-size: 12px;
        }
        tr:nth-child(even) {
            background-color: #D0E1CD;
        }
        tr:nth-child(odd) {
            background-color: #E9F1E8;
        }
        .flag-cell, .service-cell  {
            display: flex;
            padding: 6px 6px;
            border: 0px
        }
        .flag-text, .service-box  {
            background-color: red;
            color: white;
            padding: 2px 6px;
            margin: 0px 0px 0px 6px;
            font-weight: bold;
            display: inline-block;
            border-radius: 5px;
            line-height: 1;
            text-align: center;
            vertical-align: middle;	
            cursor: pointer;
        }

/* Hunter information container */
.dialog {
    display: block;
    position: absolute;
    top: 70px;
    right: 0;
    background: white;
    padding: 15px;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 250px;
}
        
.hunter-pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.submit-button {
    margin-top: 10px;
    padding: 5px 10px;
    background: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.copy-icon {
    cursor: pointer;
    margin-left: 5px;
    position: relative;
}
.copy-icon::after {
    content: 'Copied!';
    position: absolute;
    background: #333;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    top: -25px;
    right: 0;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
}
.copy-icon.copied::after {
    opacity: 1;
}
        

@media (max-width: 450px) {
  .margins {
    margin-right: 1rem;
    margin-left: 1rem; } }

    .hunter-container {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      display: none;
      justify-content: center;
      align-items: center;
      z-index: 9999;
    }

    .hunter-box {
      background-color: white;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
      z-index: 10000;
      max-width: 400px;
      text-align: center;
    }

    .hunter-close {
      margin-top: 15px;
      padding: 10px 20px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .hunter-close:hover {
      background-color: #0056b3;
    }
    
    .center-flex {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      overflow-y: auto;
    }
    
    .column-flex {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: auto;
    }
    
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px 20px;
    }

    .brand {
      font-size: 2rem;
      color: #042030;
      text-align: center;
    }
    
    .brand img {
      width:30px;
      margin-right:3px
    }

    /* Navbar Links */
    .navbar .nav-links {
      font-size: 1rem;
      display: flex;
      padding: 2px 10px 0px 10px;
    }

    .navbar .nav-links a {
      color: black;
      text-decoration: none;
      font-size: 1.25rem;
      padding: 0px 10px 0px 10px;
      border-radius: 5px;
    }
    
    .nav-links img {
      color: black;
      text-decoration: none;
      width:30px;
      height:30px;
   }

    .navbar .nav-links a:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }
    
    .navbar .nav-links button:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }
    
    .nav-button {
      background-color: transparent;
      background-repeat: no-repeat;
      border: none;
      cursor: pointer;
      overflow: hidden;
      outline: none;
    }
    
    .nav-button img {
      width:30px;
      height:30px;
      border: none;
      cursor: pointer;
      overflow: hidden;
      outline: none;
    }
    
    .hamburger {
      display: none;
      flex-direction: column;
      gap: 5px;
      cursor: pointer;
    }

    .hamburger div {
      width: 25px;
      height: 3px;
      background-color: white;
    }

    
    .mobile-menu {
      display: none;
      flex-direction: column;
      gap: 10px;
      background-color: #007bff;
      padding: 10px 20px;
    }

    .mobile-menu a {
      color: white;
      text-decoration: none;
    }

    .mobile-menu a:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }

    @media (max-width: 768px) {
      .navbar .nav-links {
        display: none;
      }

      .hamburger {
        display: flex;
      }

      .mobile-menu {
        display: none;
      }

      .mobile-menu.active {
        display: flex;
      }
    }

    .fly-in {
      background-color: rgba(0, 0, 0, 0.6);
      width: 40vw;
      color: white;
      padding: 20px 20px;
      border-radius: 16px;
      font-size: 1.25rem;
      opacity: 0;
      justify-content: center;
      align-items: center;
      transform: translateX(-200%);
      animation: flyIn 1s ease-out forwards;
    }

    @keyframes flyIn {
      to {
        opacity: 1;
        transform: translateX(0);
      }
    }
